In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import time
from collections import Counter
import tensorflow as tf
from scipy import sparse

2023-01-12 19:00:52.755655: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-01-12 19:00:52.880476: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-01-12 19:00:52.880494: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-01-12 19:00:53.593902: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-01-12 19:00:53.593954: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-01-12 19:00:53.593959: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
data_folder = '/home/hanlinn/00.projects/tensorflow-prepare/example-file/bbc/'

train_csv_path = data_folder + 'BBC News Train.csv'
test_csv_path = data_folder + 'BBC News Test.csv'
sample_solutions_path = data_folder + 'BBC News Sample Solution.csv'

In [3]:
train_df = pd.read_csv(train_csv_path)
train_df.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [4]:
test_df  = pd.read_csv(test_csv_path)
test_df.head()

   ArticleId                                               Text
0       1018  qpr keeper day heads for preston queens park r...
1       1319  software watching while you work software that...
2       1138  d arcy injury adds to ireland woe gordon d arc...
3        459  india s reliance family feud heats up the ongo...
4       1020  boro suffer morrison injury blow middlesbrough...

In [5]:
sample_solutions_pd = pd.read_csv(sample_solutions_path)
sample_solutions_pd.head()

   ArticleId       Category
0       1018          sport
1       1319           tech
2       1138       business
3        459  entertainment
4       1020       politics

In [6]:
train_df.dropna()

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [15]:
from sklearn.model_selection import train_test_split
train_sentence,val_sentence,train_label,val_labels = train_test_split(train_df["Text"].to_numpy(),
                                                                      train_df["Category"].to_numpy(),
                                                                      test_size=0.1, # dedicate 10% of samples to validation set
                                                                       random_state=42
                                                                        )

In [16]:
train_sentence.shape, val_sentence.shape

((1341,), (149,))

In [17]:
train_label.shape, val_labels.shape

((1341,), (149,))

In [18]:
train_label_cate = pd.get_dummies(train_label)

train_label_cate.head()

   business  entertainment  politics  sport  tech
0         0              0         1      0     0
1         0              0         0      1     0
2         1              0         0      0     0
3         0              0         0      0     1
4         0              0         0      1     0

In [19]:
trian_label_one_hot = train_label_cate.to_numpy()
trian_label_one_hot[3]

array([0, 0, 0, 0, 1], dtype=uint8)

In [20]:
val_label_cate = pd.get_dummies(val_labels)
val_label_cate.head()

   business  entertainment  politics  sport  tech
0         0              1         0      0     0
1         0              0         1      0     0
2         0              0         1      0     0
3         0              0         0      0     1
4         0              0         0      0     1

In [21]:
val_label_one_hot = val_label_cate.to_numpy()
val_label_one_hot[3]

array([0, 0, 0, 0, 1], dtype=uint8)

In [22]:

train_dataset = tf.data.Dataset.from_tensor_slices((train_sentence, trian_label_one_hot))
train_dataset =  train_dataset.shuffle(1341).batch(32).cache().prefetch(tf.data.AUTOTUNE)
valid_dataset = tf.data.Dataset.from_tensor_slices((val_sentence,val_label_one_hot))
valid_dataset = valid_dataset.batch(32).cache().prefetch(tf.data.AUTOTUNE)
print(f"Train : {train_dataset} \n"
      f"Test : {valid_dataset}")

Train : <PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.string, name=None), TensorSpec(shape=(None, 5), dtype=tf.uint8, name=None))>
Test : <PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.string, name=None), TensorSpec(shape=(None, 5), dtype=tf.uint8, name=None))>

In [28]:

max_vocab = 10_000  # Maximum vocab size.
max_seq_len = 600  # Sequence length to pad the outputs to.

# Create the layer.
vectorize_layer = tf.keras.layers.TextVectorization(
    max_tokens=max_vocab,
    output_mode='int',
    output_sequence_length=max_seq_len)

# Now that the vocab layer has been created, call `adapt` on the
# text-only dataset to create the vocabulary. You don't have to batch,
# but for large datasets this means we're not keeping spare copies of
# the dataset.
vectorize_layer.adapt(train_sentence)

embedding_layers = tf.keras.layers.Embedding(input_dim=max_vocab,
                                     output_dim=5,
                                     embeddings_initializer="uniform",
                                     input_length = max_seq_len,
                                     name="embedding_layers")

In [29]:

# Callbacks
early_stopping = tf.keras.callbacks.EarlyStopping(monitor="val_loss", # watch the val loss metric
                                                  patience=5) # if val loss decreases for 3 epochs in a row, stop training

reduce_lr = tf.keras.callbacks.ReduceLROnPlateau(monitor="val_loss",  
                                                 factor=0.2, # multiply the learning rate by 0.2 (reduce by 5x)
                                                 patience=3,
                                                 verbose=1, # print out when learning rate goes down 
                                                 min_lr=1e-7)

In [32]:
from tensorflow.keras import layers

inputs = layers.Input(shape=(1,), dtype="string")
x = vectorize_layer(inputs)
x = embedding_layers(x)
x = layers.Conv1D(128, 5, padding = 'same', activation = 'elu')(x)
#x = layers.Conv1D(64, 5, padding = 'same', activation = 'elu')(x)
x = layers.GlobalMaxPool1D()(x)
#x = layers.Dense(32, activation='relu')(x)
x = layers.Dense(32, activation='relu')(x)
x = layers.Dense(16, activation='relu')(x)
outputs = layers.Dense(5, activation="softmax")(x)
model = tf.keras.Model(inputs, outputs, name="Conv")

model.summary()
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.00065),
              loss=tf.keras.losses.categorical_crossentropy,
              metrics=['accuracy'])

Model: "Conv"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_4 (InputLayer)        [(None, 1)]               0

 text_vectorization_1 (TextV  (None, 600)              0
 ectorization)

 embedding_layers (Embedding  (None, 600, 5)           50000
 )

 conv1d_3 (Conv1D)           (None, 600, 128)          3328

 global_max_pooling1d_3 (Glo  (None, 128)              0
 balMaxPooling1D)

 dense_9 (Dense)             (None, 32)                4128

 dense_10 (Dense)            (None, 16)                528

 dense_11 (Dense)            (None, 5)                 85

=================================================================
Total params: 58,069
Trainable params: 58,069
Non-trainable params: 0
_________________________________________________________________

In [34]:
from datetime import datetime

start = datetime.now()
history = model.fit(train_dataset,
                    epochs= 100,
                    validation_data=valid_dataset,
                    verbose=1)

end = datetime.now()

print(f"The time taken to train the model is :{end - start}")
results = model.evaluate(valid_dataset)

Epoch 1/100
42/42 [==============================] - 1s 31ms/step - loss: 1.1134 - accuracy: 0.4884 - val_loss: 1.1705 - val_accuracy: 0.4832
Epoch 2/100
42/42 [==============================] - 1s 33ms/step - loss: 0.9319 - accuracy: 0.6018 - val_loss: 1.0115 - val_accuracy: 0.5503
Epoch 3/100
42/42 [==============================] - 1s 34ms/step - loss: 0.7339 - accuracy: 0.6570 - val_loss: 0.7981 - val_accuracy: 0.7248
Epoch 4/100
42/42 [==============================] - 1s 31ms/step - loss: 0.5218 - accuracy: 0.8658 - val_loss: 0.5940 - val_accuracy: 0.8792
Epoch 5/100
42/42 [==============================] - 1s 27ms/step - loss: 0.3292 - accuracy: 0.9545 - val_loss: 0.4499 - val_accuracy: 0.9060
Epoch 6/100
42/42 [==============================] - 1s 29ms/step - loss: 0.1958 - accuracy: 0.9754 - val_loss: 0.3990 - val_accuracy: 0.8926
Epoch 7/100
42/42 [==============================] - 1s 27ms/step - loss: 0.1154 - accuracy: 0.9851 - val_loss: 0.3626 - val_accuracy: 0.8926
Epoch 8/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0729 - accuracy: 0.9933 - val_loss: 0.3715 - val_accuracy: 0.8926
Epoch 9/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0483 - accuracy: 0.9955 - val_loss: 0.3827 - val_accuracy: 0.8859
Epoch 10/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0326 - accuracy: 0.9985 - val_loss: 0.3923 - val_accuracy: 0.8859
Epoch 11/100
42/42 [==============================] - 2s 36ms/step - loss: 0.0227 - accuracy: 0.9993 - val_loss: 0.3999 - val_accuracy: 0.8792
Epoch 12/100
42/42 [==============================] - 1s 32ms/step - loss: 0.0164 - accuracy: 1.0000 - val_loss: 0.4076 - val_accuracy: 0.8792
Epoch 13/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0123 - accuracy: 1.0000 - val_loss: 0.4171 - val_accuracy: 0.8792
Epoch 14/100
42/42 [==============================] - 1s 31ms/step - loss: 0.0095 - accuracy: 1.0000 - val_loss: 0.4241 - val_accuracy: 0.8792
Epoch 15/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0075 - accuracy: 1.0000 - val_loss: 0.4303 - val_accuracy: 0.8792
Epoch 16/100
42/42 [==============================] - 1s 33ms/step - loss: 0.0061 - accuracy: 1.0000 - val_loss: 0.4355 - val_accuracy: 0.8859
Epoch 17/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0050 - accuracy: 1.0000 - val_loss: 0.4414 - val_accuracy: 0.8859
Epoch 18/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0042 - accuracy: 1.0000 - val_loss: 0.4464 - val_accuracy: 0.8859
Epoch 19/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0036 - accuracy: 1.0000 - val_loss: 0.4509 - val_accuracy: 0.8859
Epoch 20/100
42/42 [==============================] - 1s 32ms/step - loss: 0.0031 - accuracy: 1.0000 - val_loss: 0.4551 - val_accuracy: 0.8859
Epoch 21/100
42/42 [==============================] - 1s 29ms/step - loss: 0.0027 - accuracy: 1.0000 - val_loss: 0.4591 - val_accuracy: 0.8859
Epoch 22/100
42/42 [==============================] - 1s 29ms/step - loss: 0.0023 - accuracy: 1.0000 - val_loss: 0.4623 - val_accuracy: 0.8859
Epoch 23/100
42/42 [==============================] - 1s 29ms/step - loss: 0.0021 - accuracy: 1.0000 - val_loss: 0.4653 - val_accuracy: 0.8859
Epoch 24/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 0.4682 - val_accuracy: 0.8859
Epoch 25/100
42/42 [==============================] - 1s 29ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 0.4709 - val_accuracy: 0.8859
Epoch 26/100
42/42 [==============================] - 1s 29ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.4729 - val_accuracy: 0.8859
Epoch 27/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.4756 - val_accuracy: 0.8859
Epoch 28/100
42/42 [==============================] - 1s 29ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.4778 - val_accuracy: 0.8859
Epoch 29/100
42/42 [==============================] - 1s 30ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.4797 - val_accuracy: 0.8859
Epoch 30/100
42/42 [==============================] - 1s 31ms/step - loss: 9.9592e-04 - accuracy: 1.0000 - val_loss: 0.4819 - val_accuracy: 0.8859
Epoch 31/100
42/42 [==============================] - 1s 29ms/step - loss: 9.1292e-04 - accuracy: 1.0000 - val_loss: 0.4840 - val_accuracy: 0.8859
Epoch 32/100
42/42 [==============================] - 1s 28ms/step - loss: 8.3926e-04 - accuracy: 1.0000 - val_loss: 0.4859 - val_accuracy: 0.8859
Epoch 33/100
42/42 [==============================] - 1s 26ms/step - loss: 7.7411e-04 - accuracy: 1.0000 - val_loss: 0.4876 - val_accuracy: 0.8859
Epoch 34/100
42/42 [==============================] - 1s 28ms/step - loss: 7.1574e-04 - accuracy: 1.0000 - val_loss: 0.4894 - val_accuracy: 0.8859
Epoch 35/100
42/42 [==============================] - 1s 31ms/step - loss: 6.6341e-04 - accuracy: 1.0000 - val_loss: 0.4914 - val_accuracy: 0.8859
Epoch 36/100
42/42 [==============================] - 1s 31ms/step - loss: 6.1607e-04 - accuracy: 1.0000 - val_loss: 0.4926 - val_accuracy: 0.8926
Epoch 37/100
42/42 [==============================] - 1s 26ms/step - loss: 5.7365e-04 - accuracy: 1.0000 - val_loss: 0.4941 - val_accuracy: 0.8926
Epoch 38/100
42/42 [==============================] - 1s 27ms/step - loss: 5.3505e-04 - accuracy: 1.0000 - val_loss: 0.4953 - val_accuracy: 0.8993
Epoch 39/100
42/42 [==============================] - 1s 28ms/step - loss: 5.0009e-04 - accuracy: 1.0000 - val_loss: 0.4966 - val_accuracy: 0.8993
Epoch 40/100
42/42 [==============================] - 1s 27ms/step - loss: 4.6816e-04 - accuracy: 1.0000 - val_loss: 0.4972 - val_accuracy: 0.8993
Epoch 41/100
42/42 [==============================] - 1s 26ms/step - loss: 4.3912e-04 - accuracy: 1.0000 - val_loss: 0.4986 - val_accuracy: 0.8993
Epoch 42/100
42/42 [==============================] - 1s 29ms/step - loss: 4.1239e-04 - accuracy: 1.0000 - val_loss: 0.4996 - val_accuracy: 0.8993
Epoch 43/100
42/42 [==============================] - 1s 30ms/step - loss: 3.8788e-04 - accuracy: 1.0000 - val_loss: 0.5005 - val_accuracy: 0.8993
Epoch 44/100
42/42 [==============================] - 1s 29ms/step - loss: 3.6536e-04 - accuracy: 1.0000 - val_loss: 0.5017 - val_accuracy: 0.8993
Epoch 45/100
42/42 [==============================] - 1s 30ms/step - loss: 3.4452e-04 - accuracy: 1.0000 - val_loss: 0.5026 - val_accuracy: 0.8993
Epoch 46/100
42/42 [==============================] - 1s 28ms/step - loss: 3.2533e-04 - accuracy: 1.0000 - val_loss: 0.5035 - val_accuracy: 0.8993
Epoch 47/100
42/42 [==============================] - 1s 29ms/step - loss: 3.0762e-04 - accuracy: 1.0000 - val_loss: 0.5045 - val_accuracy: 0.8993
Epoch 48/100
42/42 [==============================] - 1s 31ms/step - loss: 2.9108e-04 - accuracy: 1.0000 - val_loss: 0.5054 - val_accuracy: 0.8993
Epoch 49/100
42/42 [==============================] - 1s 27ms/step - loss: 2.7582e-04 - accuracy: 1.0000 - val_loss: 0.5063 - val_accuracy: 0.8993
Epoch 50/100
42/42 [==============================] - 1s 29ms/step - loss: 2.6152e-04 - accuracy: 1.0000 - val_loss: 0.5073 - val_accuracy: 0.8993
Epoch 51/100
42/42 [==============================] - 1s 30ms/step - loss: 2.4833e-04 - accuracy: 1.0000 - val_loss: 0.5082 - val_accuracy: 0.8993
Epoch 52/100
42/42 [==============================] - 1s 29ms/step - loss: 2.3593e-04 - accuracy: 1.0000 - val_loss: 0.5090 - val_accuracy: 0.8993
Epoch 53/100
42/42 [==============================] - 1s 31ms/step - loss: 2.2433e-04 - accuracy: 1.0000 - val_loss: 0.5098 - val_accuracy: 0.8993
Epoch 54/100
42/42 [==============================] - 1s 31ms/step - loss: 2.1354e-04 - accuracy: 1.0000 - val_loss: 0.5106 - val_accuracy: 0.8993
Epoch 55/100
42/42 [==============================] - 1s 26ms/step - loss: 2.0341e-04 - accuracy: 1.0000 - val_loss: 0.5116 - val_accuracy: 0.8993
Epoch 56/100
42/42 [==============================] - 1s 25ms/step - loss: 1.9385e-04 - accuracy: 1.0000 - val_loss: 0.5125 - val_accuracy: 0.8993
Epoch 57/100
42/42 [==============================] - 1s 25ms/step - loss: 1.8489e-04 - accuracy: 1.0000 - val_loss: 0.5132 - val_accuracy: 0.8993
Epoch 58/100
42/42 [==============================] - 1s 24ms/step - loss: 1.7646e-04 - accuracy: 1.0000 - val_loss: 0.5142 - val_accuracy: 0.8993
Epoch 59/100
42/42 [==============================] - 1s 27ms/step - loss: 1.6847e-04 - accuracy: 1.0000 - val_loss: 0.5149 - val_accuracy: 0.8993
Epoch 60/100
42/42 [==============================] - 1s 28ms/step - loss: 1.6100e-04 - accuracy: 1.0000 - val_loss: 0.5159 - val_accuracy: 0.8993
Epoch 61/100
42/42 [==============================] - 1s 30ms/step - loss: 1.5389e-04 - accuracy: 1.0000 - val_loss: 0.5168 - val_accuracy: 0.8993
Epoch 62/100
42/42 [==============================] - 1s 28ms/step - loss: 1.4717e-04 - accuracy: 1.0000 - val_loss: 0.5176 - val_accuracy: 0.8993
Epoch 63/100
42/42 [==============================] - 1s 30ms/step - loss: 1.4081e-04 - accuracy: 1.0000 - val_loss: 0.5184 - val_accuracy: 0.8993
Epoch 64/100
42/42 [==============================] - 1s 28ms/step - loss: 1.3471e-04 - accuracy: 1.0000 - val_loss: 0.5192 - val_accuracy: 0.8993
Epoch 65/100
42/42 [==============================] - 1s 31ms/step - loss: 1.2890e-04 - accuracy: 1.0000 - val_loss: 0.5199 - val_accuracy: 0.8993
Epoch 66/100
42/42 [==============================] - 1s 31ms/step - loss: 1.2332e-04 - accuracy: 1.0000 - val_loss: 0.5209 - val_accuracy: 0.8993
Epoch 67/100
42/42 [==============================] - 1s 35ms/step - loss: 1.1793e-04 - accuracy: 1.0000 - val_loss: 0.5217 - val_accuracy: 0.8993
Epoch 68/100
42/42 [==============================] - 1s 31ms/step - loss: 1.1274e-04 - accuracy: 1.0000 - val_loss: 0.5226 - val_accuracy: 0.9060
Epoch 69/100
42/42 [==============================] - 1s 29ms/step - loss: 1.0770e-04 - accuracy: 1.0000 - val_loss: 0.5233 - val_accuracy: 0.9060
Epoch 70/100
42/42 [==============================] - 1s 26ms/step - loss: 1.0281e-04 - accuracy: 1.0000 - val_loss: 0.5242 - val_accuracy: 0.9060
Epoch 71/100
42/42 [==============================] - 1s 29ms/step - loss: 9.8107e-05 - accuracy: 1.0000 - val_loss: 0.5249 - val_accuracy: 0.9060
Epoch 72/100
42/42 [==============================] - 1s 28ms/step - loss: 9.3559e-05 - accuracy: 1.0000 - val_loss: 0.5258 - val_accuracy: 0.9060
Epoch 73/100
42/42 [==============================] - 1s 29ms/step - loss: 8.9173e-05 - accuracy: 1.0000 - val_loss: 0.5267 - val_accuracy: 0.9060
Epoch 74/100
42/42 [==============================] - 1s 29ms/step - loss: 8.4969e-05 - accuracy: 1.0000 - val_loss: 0.5276 - val_accuracy: 0.9060
Epoch 75/100
42/42 [==============================] - 1s 33ms/step - loss: 8.0886e-05 - accuracy: 1.0000 - val_loss: 0.5287 - val_accuracy: 0.9060
Epoch 76/100
42/42 [==============================] - 1s 31ms/step - loss: 7.6914e-05 - accuracy: 1.0000 - val_loss: 0.5298 - val_accuracy: 0.9060
Epoch 77/100
42/42 [==============================] - 1s 30ms/step - loss: 7.3192e-05 - accuracy: 1.0000 - val_loss: 0.5307 - val_accuracy: 0.9060
Epoch 78/100
42/42 [==============================] - 1s 31ms/step - loss: 6.9636e-05 - accuracy: 1.0000 - val_loss: 0.5318 - val_accuracy: 0.9060
Epoch 79/100
42/42 [==============================] - 1s 28ms/step - loss: 6.6255e-05 - accuracy: 1.0000 - val_loss: 0.5328 - val_accuracy: 0.9060
Epoch 80/100
42/42 [==============================] - 1s 30ms/step - loss: 6.3108e-05 - accuracy: 1.0000 - val_loss: 0.5338 - val_accuracy: 0.9060
Epoch 81/100
42/42 [==============================] - 1s 28ms/step - loss: 6.0163e-05 - accuracy: 1.0000 - val_loss: 0.5348 - val_accuracy: 0.9060
Epoch 82/100
42/42 [==============================] - 1s 30ms/step - loss: 5.7418e-05 - accuracy: 1.0000 - val_loss: 0.5358 - val_accuracy: 0.9060
Epoch 83/100
42/42 [==============================] - 1s 30ms/step - loss: 5.4850e-05 - accuracy: 1.0000 - val_loss: 0.5367 - val_accuracy: 0.9060
Epoch 84/100
42/42 [==============================] - 1s 29ms/step - loss: 5.2452e-05 - accuracy: 1.0000 - val_loss: 0.5377 - val_accuracy: 0.9060
Epoch 85/100
42/42 [==============================] - 1s 30ms/step - loss: 5.0178e-05 - accuracy: 1.0000 - val_loss: 0.5389 - val_accuracy: 0.9060
Epoch 86/100
42/42 [==============================] - 1s 29ms/step - loss: 4.7948e-05 - accuracy: 1.0000 - val_loss: 0.5401 - val_accuracy: 0.9060
Epoch 87/100
42/42 [==============================] - 1s 26ms/step - loss: 4.5770e-05 - accuracy: 1.0000 - val_loss: 0.5413 - val_accuracy: 0.9060
Epoch 88/100
42/42 [==============================] - 1s 26ms/step - loss: 4.3689e-05 - accuracy: 1.0000 - val_loss: 0.5430 - val_accuracy: 0.9060
Epoch 89/100
42/42 [==============================] - 1s 25ms/step - loss: 4.1721e-05 - accuracy: 1.0000 - val_loss: 0.5444 - val_accuracy: 0.9060
Epoch 90/100
42/42 [==============================] - 1s 28ms/step - loss: 3.9905e-05 - accuracy: 1.0000 - val_loss: 0.5458 - val_accuracy: 0.9060
Epoch 91/100
42/42 [==============================] - 1s 27ms/step - loss: 3.8146e-05 - accuracy: 1.0000 - val_loss: 0.5476 - val_accuracy: 0.9060
Epoch 92/100
42/42 [==============================] - 1s 25ms/step - loss: 3.6457e-05 - accuracy: 1.0000 - val_loss: 0.5494 - val_accuracy: 0.9060
Epoch 93/100
42/42 [==============================] - 1s 25ms/step - loss: 3.4858e-05 - accuracy: 1.0000 - val_loss: 0.5508 - val_accuracy: 0.9060
Epoch 94/100
42/42 [==============================] - 1s 25ms/step - loss: 3.3390e-05 - accuracy: 1.0000 - val_loss: 0.5522 - val_accuracy: 0.9060
Epoch 95/100
42/42 [==============================] - 1s 24ms/step - loss: 3.2021e-05 - accuracy: 1.0000 - val_loss: 0.5536 - val_accuracy: 0.9060
Epoch 96/100
42/42 [==============================] - 1s 25ms/step - loss: 3.0709e-05 - accuracy: 1.0000 - val_loss: 0.5553 - val_accuracy: 0.9060
Epoch 97/100
42/42 [==============================] - 1s 25ms/step - loss: 2.9427e-05 - accuracy: 1.0000 - val_loss: 0.5567 - val_accuracy: 0.9060
Epoch 98/100
42/42 [==============================] - 1s 24ms/step - loss: 2.8238e-05 - accuracy: 1.0000 - val_loss: 0.5579 - val_accuracy: 0.9060
Epoch 99/100
42/42 [==============================] - 1s 24ms/step - loss: 2.7124e-05 - accuracy: 1.0000 - val_loss: 0.5592 - val_accuracy: 0.9060
Epoch 100/100
42/42 [==============================] - 1s 28ms/step - loss: 2.6083e-05 - accuracy: 1.0000 - val_loss: 0.5604 - val_accuracy: 0.9060
The time taken to train the model is :0:02:06.724188
5/5 [==============================] - 0s 7ms/step - loss: 0.5604 - accuracy: 0.9060

In [35]:

def calculate_accuracy_results(y_true, y_pred):
    from sklearn.metrics import accuracy_score, precision_recall_fscore_support
    """
     Calculates model accuracy, precision, recall and f1 score of a binary classification model.

    Args:
        y_true: true labels in the form of a 1D array
        y_pred: predicted labels in the form of a 1D array

    Returns a dictionary of accuracy, precision, recall, f1-score.
    """
    # Calculate model accuracy
    model_accuracy = accuracy_score(y_true, y_pred) * 100
    # Calculate model precision, recall and f1 score using "weighted average
    model_precision, model_recall, model_f1, _ = precision_recall_fscore_support(y_true, y_pred, average="weighted", zero_division= 1)
    model_results = {"accuracy": model_accuracy,
                      "precision": model_precision,
                      "recall": model_recall,
                      "f1": model_f1}
    return model_results

result_preds_probs = model.predict(val_sentence)
result_preds = tf.argmax(result_preds_probs, axis=1)
val_labels_encode = tf.argmax(val_label_one_hot ,axis=1)
results = calculate_accuracy_results( 
    y_true= val_labels_encode,
    y_pred = result_preds)

print(results)

5/5 [==============================] - 0s 7ms/step
{'accuracy': 90.60402684563759, 'precision': 0.9056693715568975, 'recall': 0.9060402684563759, 'f1': 0.9046773042677945}